<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<head>
</head>
<div class="govuk-width-container" layout:fragment="page-content">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">
          <a class="govuk-link" href="https://www.cloud.service.gov.uk/support">Contact GOV.UK PaaS support</a> if you have any issues with the platform.
        </p>
      </div>
    </div>
  </main>
</div>
</html>
