<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<head>
</head>
<body>
<div class="govuk-grid-row" layout:fragment="page-content">
  <div class="govuk-grid-column-two-thirds">
    <div th:if="${param.error}" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
          There was an error when authenticating against the external identity provider. You may need to:
      </h2>
      <div class="govuk-error-summary__body" th:if="${#strings.indexOf(param.error[0], 'The user account must be pre-created')}">
        <ul class="govuk-list govuk-error-summary__list">
          <li>Sign in with your email address and password</li>
          <li>Switch region</li>
          <li>Request an account</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
