<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<div layout:fragment="page-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Reset Password</h1>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <form th:action="@{/forgot_password.do}" method="post" novalidate="novalidate">
                <div th:if="${message_code}" th:text="#{'forgot_password.' + ${message_code}}" class="govuk-error-message"></div>
                <div th:if="${message}" th:text="${message}" class="govuk-error-message"></div>
                <input type="hidden" name="client_id" th:value="${client_id}"/>
                <input type="hidden" name="redirect_uri" th:value="${redirect_uri}"/>
                <div class="govuk-form-group">
                    <label class="govuk-label">Username</label>
                    <input name="username" type="text" autofocus="autofocus" class="govuk-input"/>
                </div>
                <input type="submit" value="Send reset password link" class="govuk-button"/>
            </form>
        </div>
    </div>
</div>
</html>
