<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<div layout:fragment="page-content">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div th:if="${param.error}" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#username" th:href="@{#username}" th:text="#{'login.' + ${param.error[0]}}">Error Message</a>
            </li>
          </ul>
        </div>
      </div>

      <div th:if="${error}" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#username" th:href="@{#username}">Unable to verify email address</a>
            </li>
            <li>
              <a href="#password" th:href="@{#password}">Unable to match password with an email address</a>
            </li>
          </ul>
        </div>
      </div>

      <h1 class="govuk-heading-l">Sign in to GOV.UK PaaS</h1>

      <div th:if="${param.success}" class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Success</span>
          <span th:text="#{'login.' + ${param.success}}"></span>
        </strong>
      </div>
    </div>
    <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m">
        Use email address
      </h2>
      <form th:action="@{/login.do}"
            method="post"
            novalidate="novalidate"
            accept-charset="UTF-8">

        <div th:class="govuk-form-group"
             th:classappend="${error}? 'govuk-form-group--error'"
             th:each="prompt,iter : ${prompts}">
          <label class="govuk-label"
                 th:attr="for=${prompt.key}"
                 th:text="${prompt.value[1] == 'Email' ? 'Email address' : prompt.value[1]}">
          </label>
          <span
              th:if="${error}"
              th:id="${prompt.key + '-error'}"
              class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            <span
                th:text="${prompt.value[1] == 'Email' ? 'Unable to verify email address' : 'Unable to match password with an email address'}">
            </span>
          </span>
          <input th:id="${prompt.key}"
                 th:name="${prompt.key}"
                 th:type="${prompt.value[0]}"
                 th:attr="autocomplete='off'"
                 class="govuk-input"/>
        </div>

        <input th:if="${session.SPRING_SECURITY_SAVED_REQUEST}"
               th:unless="${form_redirect_uri}"
               th:name="form_redirect_uri"
               th:type="hidden"
               th:value="${session.SPRING_SECURITY_SAVED_REQUEST.redirectUrl}"
               type="hidden"/>
        <input th:if="${form_redirect_uri}"
               th:name="form_redirect_uri"
               th:type="hidden"
               th:value="${form_redirect_uri}"
               type="hidden"/>
        <input th:if="${param.login_hint}"
               th:unless="${login_hint}"
               th:name="login_hint"
               th:type="hidden"
               th:value="${param.login_hint}"
               type="hidden"/>
        <input th:if="${login_hint}"
               th:name="login_hint"
               th:type="hidden"
               th:value="${login_hint}"
               type="hidden"/>

        <button class="govuk-button" data-module="govuk-button">Continue <span class="govuk-visually-hidden"> with email and password sign in</span></button>
      </form>

      <p class="govuk-body" th:unless="${#strings.isEmpty(links['forgotPasswordLink'])}">
        <a href="/forgot_password"
           th:href="@{${links['forgotPasswordLink']}}"
           class="govuk-link">Forgot your password?</a>
      </p>

      <p class="govuk-body" th:unless="${#strings.isEmpty(links['createAccountLink'])}">
        <a href="/create_account"
         th:href="@{${links['createAccountLink']}}"
         class="govuk-link">Request an account</a>
      </p>
    </div>

    <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6" th:unless="${oauthLinks.isEmpty()}">

      <h2 class="govuk-heading-m">
        Use Google single sign-on
      </h2>

      <p class="govuk-body">
        This option is open to everyone with a Google account who has
        enabled single sign-on using the admin panel.
      </p>

      <p class="govuk-body" th:each="maybeGoogle : ${oauthLinks}">
        <a class="govuk-button"
           data-module="govuk-button"
           th:href="${maybeGoogle.key}"
           th:if="${#strings.equals(maybeGoogle.value, 'Google')}">
          Continue <span class="govuk-visually-hidden"> with Google single sign-on</span>
        </a>
      </p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">GOV.UK Platform as a Service - Platform Administrators</h2>
      <p class="govuk-body">
        This option is only applicable to the platform administrators of
        GOV.UK Platform as a Service. If you are hosting your service on
        GOV.UK PaaS, you should use one of the options above.
      </p>
          
      <p class="govuk-body" th:each="maybeAdminGoogle : ${oauthLinks}">
        <a class="govuk-link"
          th:href="${maybeAdminGoogle.key}"
          th:if="${#strings.equals(maybeAdminGoogle.value, 'AdminGoogle')}">
          I am an operator
        </a>
      </p>
    </div>
  </div>
</div>
  <th:block layout:fragment="page-scripts">
    <script>
      // the page will refresh after 24 hours to give you a new CSRF token
      setTimeout(function() {window.location=window.location}, 86400 * 1000)
    </script>
  </th:block>
</div>
</html>
