
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
</head>
<body>
<p>
    A request has been made to reset your <th:block th:text="${serviceName}">ExampleService </th:block>
    account password for <th:block th:text="${email}">user@example.com</th:block>.
</p>
<p>
    However, your account is authenticated using a single sign-on provider such as Google, and
    <th:block th:text="${serviceName}">ExampleService </th:block> does not manage your credentials.
</p>
<p>
    To change your credentials, follow the password reset flow for your single sign-on provider.
</p>
<p>
    Thank you,<br />
    <th:block th:text="${serviceName}">The Administration</th:block>
</p>
</body>
</html>
