.app-tag {
  margin-bottom: 10px;
  background-color: #6f777b;
}

@media (min-width: 48.0625em) {
  .app-tag {
    float: right;
    margin-right: 0;
  }
}

.app-tag--london {
  background-color: #005ea5;
}

.app-tag--ireland {
  background-color: #006435;
}

/* adjust to fit product name */
@media (min-width: 48.0625em) {
  .govuk-header__logo {
    width: 66.66%;
  }
  .govuk-header__content {
    width: 33.33%;
  }
}